<div class="card">
    <!-- 1ª linha -->
    <div class="card__descricao">
        <!-- 1ª coluna -->
        <div class="descricao">
            <h3 class="descricao__titulo">Talvez você também se interesse por...</h3>
            <h2 class="descricao__titulo-livro">Angular 11 e Firebase</h2>
            <p class="descricao__texto">Contruindo uma aplicação integrada com a plataforma Angular</p>
        </div>
        <!-- 2ª coluna -->
        <img src="../../../assets/images/svg/cardImgs/angular11_firebase.svg" alt="descrição__imagem">
    </div>
    <!-- 2ª linha -->
    <div class="card__botoes">
        <!-- 1ª coluna -->
        <ul class="botoes">
            <li class="botoes__item">
                <img src="../../../assets/images/svg/heart.svg" alt="Favoritar livro">
                <img src="../../../assets/images/svg/bag.svg" alt="Adicionar no carrinho de compras">
            </li>
        </ul>
        <!-- 2ª coluna -->
        <a href="#" class="botoes__ancora">Saiba mais</a>
    </div>
</div>
