<section class="superior__secao__container">
    <a class="superior__item" href="#">Tudo</a>
    <a class="superior__item" href="#">Debates</a>
    <a class="superior__item" href="#">Ao Vivo</a>
    <a class="superior__item" href="#">Podcasts</a>
    <a class="superior__item" href="#">Fundos de Investimento</a>
    <a class="superior__item" href="#">Desenhos</a>
    <a class="superior__item" href="#">Data Science</a>
    <a class="superior__item" href="#">Apps</a>
    <a class="superior__item" href="#">Linguagem de Programação</a>
    <a class="superior__item" href="#">Ciência da Computação</a>
    <a class="superior__item" href="#">Marketing</a>
</section>
